{
  "openapi": "3.1.0",
  "info": {
    "title": "IsThereAnyDeal API",
    "description": "[Changelog](https://github.com/IsThereAnyDeal/API/blob/master/CHANGELOG.md)\n\nIsThereAnyDeal API provides programmatic access to features found at IsThereAnyDeal.  \n\n## Terms of Service\n\nAPI is provided in good faith. We trust you won't misuse the API to damage IsThereAnyDeal, its users or its reputation.\n\n- You MAY use this API for commercial purposes **IF** the resulting app is available to public. If you want to use this API privately contact us.\n- You SHOULD provide a link to IsThereAnyDeal.com or mention IsThereAnyDeal API.\n- You MUST NOT make an impression that you are affiliated with IsThereAnyDeal, unless agreed otherwise.\n  If you are interested in making an official app, please contact us.\n- You MUST NOT change provided data in any way. This means that you can't remove affiliate tags from the URLs, change prices and so on.\n  You MAY use only part of data provided and enrich them from your own sources.  \n- You MUST NOT make an app that could be considered a competition to IsThereAnyDeal or IsThereAnyDeal projects.\n- You MUST NOT use this API to directly or indirectly help the competition of IsThereAnyDeal.\n\nAll data are provided _as-is_. We reserve the right to deny you access to the API at any point without notice.\nIf you are not sure about any of the points, please contact us.\n\n## Access\n\nMost of the endpoints will be restricted by either API key or OAuth.\nIn order to get neccessary keys, you have to [register your app](https://isthereanydeal.com/apps/my/).\nUpon registration, api keys and OAuth credentials will be generated for you.\n\nFor some endpoints you might need explicit approval for use. In such cases, contact us.\n\n### OAuth\n\nWe support [authorization code](https://www.oauth.com/oauth2-servers/access-tokens/authorization-code-request/) flow with [PKCE extension](https://oauth.net/2/pkce/).\n\n> You can find PKCE step-through tutorial at [OAuth 2.0 PKCE Flow](https://www.oauth.com/playground/authorization-code-with-pkce.html)\n\nDo not set hard limits for token lengths. Server will return access token as JWT of variable length.\nTo authorize your endpoint access use Authorization header.\n\n> At the moment implicit flow is also enabled, but its usage is discouraged and support may be removed in the future\n\n## Rate Limiting\n\nAccess to API is rate limited and subject to change. You should get rate-limit info in appropriate headers.\nFurther limits and restrictions may be added if we detect misuse. \n\nIf you have questions about limits, contact us.\n\n# Unstable and Internal Endpoints\n\nSome endpoints are marked as unstable or internal. Unstable endpoints are publicly available,\nbut the API may not be completely finalized yet - either the way the endpoint is called or the response may change\nat any time.\n\nInternal APIs are available only for our own services. They are documented here for the sake of completeness.\n\n## Source\n\nYou can find source files for this documentation over at [GitHub](https://github.com/IsThereAnyDeal/API).\nFeel free to help us improve it.\n",
    "termsOfService": "https://github.com/IsThereAnyDeal/API/blob/master/TERMS_OF_SERVICE.md",
    "version": "2.5.0",
    "contact": {
      "name": "General API contact",
      "email": "api@isthereanydeal.com"
    }
  },
  "servers": [
    {
      "url": "https://api.isthereanydeal.com"
    }
  ],
  "tags": [
    {
      "name": "Lookup",
      "description": "Endpoints for looking up things on IsThereAnyDeal.\n\nEndpoints in `/lookup/` namespace will follow this URL structure: `/lookup/{lookup-what}/{by-what}/`\n\nEndpoints from other namespaces that are related to lookup in any way may also be\nincluded in this category. \n"
    },
    {
      "name": "Game"
    },
    {
      "name": "Prices"
    },
    {
      "name": "History"
    },
    {
      "name": "Bundles"
    },
    {
      "name": "Deals List"
    },
    {
      "name": "Waitlist Games",
      "x-displayName": "Games"
    },
    {
      "name": "Waitlist Stats",
      "x-displayName": "Stats"
    },
    {
      "name": "Collection Games",
      "x-displayName": "Games",
      "description": "Basic Collection operations when you only need to track games, without additional details.\n"
    },
    {
      "name": "Collection Copies",
      "x-displayName": "Copies",
      "description": "Operations on Collection copies. These allow more detailed tracking of owned games.\n"
    },
    {
      "name": "Collection Groups",
      "x-displayName": "Categories",
      "description": "Collection category endpoints. Category and group may be used interchangably. Default category has ID 0.\n"
    },
    {
      "name": "Collection Stats",
      "x-displayName": "Stats"
    },
    {
      "name": "User"
    },
    {
      "name": "User Notes",
      "x-displayName": "Notes",
      "description": "Endpoints for managing notes, that user can create for individual games."
    },
    {
      "name": "Profiles",
      "description": "You can create a link between your app's users' accounts and ITAD, and use that link to sync\ngames into Waitlist and Collection in the similar fashion as natively supported profiles on IsThereAnyDeal.\n"
    },
    {
      "name": "Sync",
      "description": "Sync endpoints provide easier way to add or remove games from Waitlist and Collection.\n\nSync via API works in the same way as natively supported sync of remote profiles, but instead of ITAD pulling data,\nyou will have to push data. Behavior of sync'd games is the same as for natively supported profiles.\n\nIt is useful when you can create a list of all games for user, and don't want to handle game identification,\ndeduplication, additions and removals via regular API endpoints.\n"
    },
    {
      "name": "Shops"
    },
    {
      "name": "Stats"
    },
    {
      "name": "Unstable",
      "description": "Endpoints that are not yet stable. They may be in development, experimental,\nor we are not sure about their current definition.\n"
    },
    {
      "name": "Internal",
      "description": "Endpoints available for our own services. They are documented here for the sake of completeness.\n"
    }
  ],
  "paths": {
    "/lookup/id/title/v1": {
      "post": {
        "operationId": "lookup-gid-title-v1",
        "tags": [
          "Lookup"
        ],
        "summary": "Lookup ITAD game IDs by title",
        "description": "Lookup IsThereAnyDeal's game IDs by title\nThis is not a full fledged search. Some title preprocessing will happen, but the lookup will only return IDs for titles, that match precisely.\nTypos or variations in title may not give you expected result.",
        "security": [
          {},
          {
            "keySecurity": []
          }
        ],
        "requestBody": {
          "description": "List of titles",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "string"
                }
              },
              "example": [
                "Baldurs Gate 3",
                "Half-Life 2",
                "Unknown game"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.lookup.gid-by-title"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/gid-by-title.v1.success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/lookup/id/shop/{shopId}/v1": {
      "post": {
        "operationId": "lookup-gid-shopid-v1",
        "tags": [
          "Lookup"
        ],
        "summary": "Lookup ITAD game IDs by IDs on shop",
        "description": "Lookup IsThereAnyDeal's game IDs by shop's game IDs",
        "security": [
          {},
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "shopId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "List of shop's game IDs",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "string"
                }
              },
              "example": [
                "app/220"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.lookup.gid-by-shopid"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/gid-by-shopid.v1.success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/lookup/shop/{shopId}/id/v1": {
      "post": {
        "operationId": "lookup-shopid-gid-v1",
        "tags": [
          "Lookup"
        ],
        "summary": "Lookup game IDs on shop by ITAD game IDs",
        "description": "Lookup shop's game IDs by IsThereAnyDeal game IDs",
        "security": [
          {},
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "shopId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "List of game IDs",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.lookup.shopid-by-gid"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/shopid-by-gid.v1.success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/games/search/v1": {
      "get": {
        "operationId": "games-search-v1",
        "tags": [
          "Game",
          "Lookup"
        ],
        "summary": "Search",
        "description": "Search for games by title",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "description": "Find games by name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "results",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.games.search"
                },
                "examples": {
                  "results": {
                    "description": "Europa Universalis IV search",
                    "$ref": "#/components/examples/search.v1.results"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/games/lookup/v1": {
      "get": {
        "operationId": "games-lookup-v1",
        "tags": [
          "Game",
          "Lookup"
        ],
        "summary": "Lookup Game",
        "description": "Lookup game based on title or Steam appid",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "description": "Find game by it's name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appid",
            "in": "query",
            "description": "Find game by Steam appid",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup response with found game",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.games.lookup"
                },
                "examples": {
                  "found": {
                    "description": "Game found",
                    "$ref": "#/components/examples/lookup.v1.found"
                  },
                  "not-found": {
                    "description": "Game not found",
                    "$ref": "#/components/examples/lookup.v1.not-found"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/games/info/v2": {
      "get": {
        "operationId": "games-info-v2",
        "tags": [
          "Game"
        ],
        "summary": "Game Info",
        "description": "Get basic game information",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/gid"
          }
        ],
        "responses": {
          "200": {
            "description": "Info response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.games.info"
                },
                "examples": {
                  "found": {
                    "description": "Europa Universalis IV info",
                    "$ref": "#/components/examples/info.v2.found"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "404": {
            "$ref": "#/components/responses/error-response",
            "description": "Game not found"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/games/prices/v2": {
      "post": {
        "operationId": "games-prices-v2",
        "tags": [
          "Prices"
        ],
        "summary": "Prices",
        "description": "Get games' prices",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/country"
          },
          {
            "name": "nondeals",
            "in": "query",
            "description": "Load non-sale prices",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "vouchers",
            "in": "query",
            "description": "Allow vouchers in prices",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "capacity",
            "in": "query",
            "description": "How many prices to load per each game, 0 or omit for no limit",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "$ref": "#/components/parameters/shops",
            "description": "List of shop IDs for which you want to load prices"
          }
        ],
        "requestBody": {
          "description": "List of Game IDs for which to load prices",
          "$ref": "#/components/requestBodies/gids-200"
        },
        "responses": {
          "200": {
            "description": "Info response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.games.prices"
                },
                "examples": {
                  "success": {
                    "description": "Successful response",
                    "$ref": "#/components/examples/prices.v2.success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/games/bundles/v2": {
      "get": {
        "operationId": "games-bundles-v2",
        "tags": [
          "Bundles"
        ],
        "summary": "Bundles including Game",
        "description": "Get all bundles which contain the game",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/gid"
          },
          {
            "$ref": "#/components/parameters/country"
          },
          {
            "name": "expired",
            "in": "query",
            "description": "Include expired bundles",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.games.bundles"
                },
                "examples": {
                  "success": {
                    "description": "Successful response",
                    "$ref": "#/components/examples/bundles.v2.success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/games/overview/v2": {
      "post": {
        "operationId": "games-overview-v2",
        "tags": [
          "Prices"
        ],
        "summary": "Price Overview",
        "description": "Get basic price overview for selected games.\n\nFor each game current best price will be loaded (optionally, only from selected shops),\nhistorical low price (among all covered shops).\n\nFurthermore, result will also contain list of currently active bundles,\nwhich contain at least one of the queried games.\n",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/country"
          },
          {
            "$ref": "#/components/parameters/shops"
          },
          {
            "name": "vouchers",
            "in": "query",
            "description": "Allow vouchers in prices",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/gids-200"
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.games.overview"
                },
                "examples": {
                  "success": {
                    "description": "Successful response",
                    "$ref": "#/components/examples/overview.v2.success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/games/historylow/v1": {
      "post": {
        "operationId": "games-historylow-v1",
        "tags": [
          "History"
        ],
        "summary": "History Low",
        "description": "Get historically lowest prices",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/country"
          }
        ],
        "requestBody": {
          "description": "List of Game IDs for which to load historical lows",
          "$ref": "#/components/requestBodies/gids-200"
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.games.historylow"
                },
                "examples": {
                  "success": {
                    "description": "Successful response",
                    "$ref": "#/components/examples/historylow.v1.success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/games/storelow/v2": {
      "post": {
        "operationId": "games-storelow-v2",
        "tags": [
          "History"
        ],
        "summary": "Store Low",
        "description": "Get historically lowest prices for individual stores",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/country"
          },
          {
            "$ref": "#/components/parameters/shops"
          }
        ],
        "requestBody": {
          "description": "List of Game IDs for which to load store lows",
          "$ref": "#/components/requestBodies/gids-200"
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.games.storelow"
                },
                "examples": {
                  "success": {
                    "description": "Successful response",
                    "$ref": "#/components/examples/storelow.v2.success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/games/history/v2": {
      "get": {
        "operationId": "games-history-v2",
        "tags": [
          "History"
        ],
        "summary": "History log",
        "description": "Get log of historical prices",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/gid"
          },
          {
            "$ref": "#/components/parameters/country"
          },
          {
            "$ref": "#/components/parameters/shops"
          },
          {
            "name": "since",
            "in": "query",
            "description": "Load only price changes after this date.            \nBy default, only last 3 months are loaded\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.games.history"
                },
                "examples": {
                  "success": {
                    "description": "Successful response",
                    "$ref": "#/components/examples/history.v2.success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/deals/v2": {
      "get": {
        "operationId": "deals-v2",
        "tags": [
          "Deals List"
        ],
        "summary": "Deals List",
        "description": "Get current deals. Follows same rules as deals list displayed on the website, which means that\nyou will not get one game more than once in the list.\n\nFor each game, the best price is displayed, ignoring stores that currently don't have game on sale,\neven if they currently have a better price.\n",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/country"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Deals list offset",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many deals to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting values, same as in deals list on the website",
            "examples": {
              "cut": {
                "summary": "Highest cut",
                "value": "-cut"
              },
              "price": {
                "summary": "Lowest price",
                "value": "price"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nondeals",
            "in": "query",
            "description": "Load non-sale prices",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "mature",
            "in": "query",
            "description": "Load deals for mature prices",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "shops",
            "in": "query",
            "description": "List of shop IDs separated by comma",
            "explode": false,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "description": "Shop ID"
              }
            },
            "examples": {
              "e1": {
                "summary": "Only Steam (61) and GOG (35)",
                "value": [
                  61,
                  35
                ]
              }
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter string",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deals list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.deals"
                },
                "examples": {
                  "success": {
                    "summary": "Deals list response example",
                    "$ref": "#/components/examples/deals.v2.success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/waitlist/games/v1": {
      "get": {
        "operationId": "waitlist-games-v1-get",
        "tags": [
          "Waitlist Games"
        ],
        "summary": "Games in Waitlist",
        "description": "Get games in user's Waitlist",
        "security": [
          {
            "oauthSecurity": [
              "wait_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.waitlist.games"
                },
                "examples": {
                  "success": {
                    "description": "Successful response",
                    "$ref": "#/components/examples/games-list"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      },
      "put": {
        "operationId": "waitlist-games-v1-put",
        "tags": [
          "Waitlist Games"
        ],
        "summary": "Add to Waitlist",
        "description": "Add games to user's Waitlist",
        "security": [
          {
            "oauthSecurity": [
              "wait_write"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/gids"
        },
        "responses": {
          "204": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      },
      "delete": {
        "operationId": "waitlist-games-v1-delete",
        "tags": [
          "Waitlist Games"
        ],
        "summary": "Delete from Waitlist",
        "description": "Delete games from user's Waitlist",
        "security": [
          {
            "oauthSecurity": [
              "wait_write"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/gids"
        },
        "responses": {
          "204": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/collection/games/v1": {
      "get": {
        "operationId": "collection-games-v1-get",
        "tags": [
          "Collection Games"
        ],
        "summary": "Games in Collection",
        "description": "Get games in user's Collection",
        "security": [
          {
            "oauthSecurity": [
              "coll_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection Games Response",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/obj.collection.game"
                  }
                },
                "examples": {
                  "success": {
                    "description": "Successful response",
                    "$ref": "#/components/examples/resp.games.get.v1.success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      },
      "put": {
        "operationId": "collection-games-v1-put",
        "tags": [
          "Collection Games"
        ],
        "summary": "Add to Collection",
        "description": "Add games to user's Collection",
        "security": [
          {
            "oauthSecurity": [
              "coll_write"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/gids"
        },
        "responses": {
          "204": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      },
      "delete": {
        "operationId": "collection-games-v1-delete",
        "tags": [
          "Collection Games"
        ],
        "summary": "Delete from Collection",
        "description": "Delete games from user's Collection",
        "security": [
          {
            "oauthSecurity": [
              "coll_write"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/gids"
        },
        "responses": {
          "204": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/collection/copies/v1": {
      "get": {
        "operationId": "collection-copies-v1-get",
        "tags": [
          "Collection Copies"
        ],
        "summary": "List Copies",
        "description": "Get all copies user has in their Collection. Copies are returned as a simple list.\n\nIt is not necessary to have copy for each game in Collection, so you should not rely on this endpoint\nif you need to know about all games in user's Collection.\n",
        "security": [
          {
            "oauthSecurity": [
              "coll_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection Copies Response",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/obj.collection.copy"
                  }
                },
                "examples": {
                  "success": {
                    "description": "Successful response",
                    "$ref": "#/components/examples/resp.copies.get.v1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      },
      "post": {
        "operationId": "collection-copies-v1-post",
        "tags": [
          "Collection Copies"
        ],
        "summary": "Add Copies",
        "description": "Add new copies. If the game is not already in a Collection, it will be added. Similarly, new tags will also be created.\n\nSame copies may exist multiple times for a single game, ITAD does not check for duplicates.\n\nThis operation is atomic, either all copies are added or none.\n",
        "security": [
          {
            "oauthSecurity": [
              "coll_write"
            ]
          }
        ],
        "requestBody": {
          "description": "Copies to add",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/obj.collection.copy.new"
                }
              },
              "example": [
                {
                  "gameId": "018d937e-e9ab-70f4-bd05-1db7a138eb39",
                  "redeemed": false,
                  "shop": 61,
                  "price": {
                    "amount": 33.33,
                    "currency": "EUR"
                  },
                  "note": "Api note",
                  "tags": [
                    "From Api",
                    "Second tag"
                  ]
                },
                {
                  "gameId": "018d937e-e9ab-70f4-bd05-1db7a138eb39",
                  "redeemed": false,
                  "shop": 4,
                  "price": null,
                  "note": null,
                  "tags": [
                    "From Api"
                  ]
                }
              ]
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/resp.error.array-of-objects-validation"
          },
          "default": {
            "$ref": "#/components/responses/resp.error.array-of-objects-validation"
          }
        }
      },
      "patch": {
        "operationId": "collection-copies-v1-patch",
        "tags": [
          "Collection Copies"
        ],
        "summary": "Update Copies",
        "description": "Update one or more copies.\n\nYou can issue partial updates on copy, only properties that are included for a copy will be updated.\n    \nThis operation is atomic, either all copies are updated or none.\n",
        "security": [
          {
            "oauthSecurity": [
              "coll_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/obj.collection.copy.patch"
                },
                "example": [
                  {
                    "id": 145742693,
                    "shop": 61,
                    "price": {
                      "amount": 12.34,
                      "currency": "USD"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response"
          },
          "400": {
            "$ref": "#/components/responses/resp.error.array-of-objects-validation"
          },
          "default": {
            "$ref": "#/components/responses/resp.error.array-of-objects-validation"
          }
        }
      },
      "delete": {
        "operationId": "collection-copies-v1-delete",
        "tags": [
          "Collection Copies"
        ],
        "summary": "Delete Copies",
        "description": "Delete Collection copies.\n\nCopies that do not exist or don't belong to user will be silently ignored.\n\nOperation is atomic. Either all copies are deleted or none.\n",
        "security": [
          {
            "oauthSecurity": [
              "coll_write"
            ]
          }
        ],
        "requestBody": {
          "description": "List of copy IDs",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "example": [
                123,
                124,
                125
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/collection/groups/v1": {
      "get": {
        "operationId": "collection-groups-v1-get",
        "tags": [
          "Collection Groups"
        ],
        "summary": "Get all Categories",
        "description": "Get all Collection categories, both the user created ones and default one.\nDefault category has id 0 and will always be listed last. User set order of categories is respected in the response.\n",
        "security": [
          {
            "oauthSecurity": [
              "coll_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection Categories Response",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/obj.collection.group"
                  }
                },
                "examples": {
                  "success": {
                    "description": "Successful response",
                    "$ref": "#/components/examples/resp.groups.get.v1.success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      },
      "post": {
        "operationId": "collection-groups-v1-post",
        "tags": [
          "Collection Groups"
        ],
        "summary": "Create new Category",
        "description": "Create Collection category. Categories with same name may exist.\n\nSuccessful response will return the created category.\n",
        "security": [
          {
            "oauthSecurity": [
              "coll_write"
            ]
          }
        ],
        "requestBody": {
          "description": "Category to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/obj.collection.group.new"
              },
              "example": {
                "title": "New Collection Category",
                "public": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/obj.collection.group",
                  "title": "Newly created category"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/resp.groups.post.v1.success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/resp.error.object-validation"
          },
          "default": {
            "$ref": "#/components/responses/resp.error.object-validation"
          }
        }
      },
      "patch": {
        "operationId": "collection-groups-v1-patch",
        "tags": [
          "Collection Groups"
        ],
        "summary": "Update Categories",
        "description": "Update one or more categories.\n\nFor each category that you are going to update, only `id` is required. Fields that you do not want to update may be\nset to `null` or omitted fully. Categories that do not exist or user does not own will be ignored.\n\nDefault category (id: `0`) may have only `public` property updated. Other properties will be ignored.\n\nThis operation is atomic, either all categories update or none. Successful response is the full category list,\nincluding categories that were not updated.\n",
        "security": [
          {
            "oauthSecurity": [
              "coll_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/obj.collection.group.patch"
                },
                "example": [
                  {
                    "id": 123,
                    "title": "Full update",
                    "public": false,
                    "position": "1\""
                  },
                  {
                    "id": 0,
                    "public": false
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection Categories Response",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/obj.collection.group"
                  }
                },
                "examples": {
                  "success": {
                    "description": "Successful response",
                    "$ref": "#/components/examples/resp.groups.get.v1.success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/resp.error.array-of-objects-validation"
          },
          "default": {
            "$ref": "#/components/responses/resp.error.array-of-objects-validation"
          }
        }
      },
      "delete": {
        "operationId": "collection-groups-v1-delete",
        "tags": [
          "Collection Groups"
        ],
        "summary": "Delete Categories",
        "description": "Delete Collection categories.\n\nDefault category or categories that do not exist or user does not own will be silently ignored.\n",
        "security": [
          {
            "oauthSecurity": [
              "coll_write"
            ]
          }
        ],
        "requestBody": {
          "description": "List of category IDs",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "example": [
                123,
                124,
                125
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/stats/waitlist/v1": {
      "get": {
        "operationId": "stats-waitlist-v1",
        "tags": [
          "Stats",
          "Waitlist Stats"
        ],
        "summary": "Waitlist Stats",
        "description": "Get Waitlist statistics for a game\n\n> Note: stats do not take into consideration users' regions.\n> If they have set their price limit to be a historical low, stats will be computed\n> for all users as if they were in the region you specify\n",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/gid"
          },
          {
            "$ref": "#/components/parameters/country"
          },
          {
            "name": "bucket_price",
            "in": "query",
            "description": "Price bucket size",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 5
            }
          },
          {
            "name": "bucket_cut",
            "in": "query",
            "description": "Cut bucket size",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.stats.waitlist"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/stats/most-waitlisted/v1": {
      "get": {
        "operationId": "stats-most-waitlisted-v1",
        "tags": [
          "Stats",
          "Waitlist Stats"
        ],
        "summary": "Most Waitlisted",
        "description": "Get list of most Waitlisted games\n",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.stats.ranked-games"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/stats/most-collected/v1": {
      "get": {
        "operationId": "stats-most-collected-v1",
        "tags": [
          "Stats",
          "Collection Stats"
        ],
        "summary": "Most Collected",
        "description": "Get list of most Collected games\n",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.stats.ranked-games"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/stats/most-popular/v1": {
      "get": {
        "operationId": "stats-most-popular-v1",
        "tags": [
          "Stats"
        ],
        "summary": "Most Popular",
        "description": "Get list of most popular games. Popularity for each game is computed as Waitlisted count + Collected count.\n",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.stats.ranked-games"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/user/info/v2": {
      "get": {
        "operationId": "user-info-v2",
        "tags": [
          "User"
        ],
        "summary": "User Info",
        "description": "Get user info, currently just a username",
        "security": [
          {
            "oauthSecurity": [
              "user_info"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.user.info"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/user/notes/v1": {
      "get": {
        "operationId": "user-notes-v1-get",
        "tags": [
          "User Notes"
        ],
        "summary": "Get notes",
        "description": "Get user's game notes\n",
        "security": [
          {
            "oauthSecurity": [
              "notes_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.notes.get"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      },
      "put": {
        "operationId": "user-notes-v1-put",
        "tags": [
          "User Notes"
        ],
        "summary": "Add or edit notes",
        "description": "Add or edit game notes. This operation is atomic and idempotent.\n",
        "security": [
          {
            "oauthSecurity": [
              "notes_write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "description": "List of notes",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/obj.note"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response"
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      },
      "delete": {
        "operationId": "user-notes-v1-delete",
        "tags": [
          "User Notes"
        ],
        "summary": "Delete notes",
        "description": "Delete game notes. This operation is atomic.\n",
        "security": [
          {
            "oauthSecurity": [
              "notes_write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "description": "List of game IDs",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response"
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/profiles/link/v1": {
      "put": {
        "operationId": "profiles-link-v1-put",
        "tags": [
          "Profiles"
        ],
        "summary": "Link profile",
        "description": "Profile is an object identifying remote account. You need linked profile to use sync endpoints.\n\nAfter successful link you will get profile token, which is used in subsequent profile operations,\nusually as an `ITAD-Profile` header. \n\nLinking is idempotent, if you lose your token, or you need it in different instance of your app,\nyou can link the same profile again.\n",
        "security": [
          {
            "oauthSecurity": [
              "profiles"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Profile to link",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/obj.profile"
              },
              "example": {
                "accountId": "acc7896132977",
                "accountName": "My Account"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.link.put"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      },
      "delete": {
        "operationId": "profiles-link-v1-delete",
        "tags": [
          "Profiles"
        ],
        "summary": "Unlink profile",
        "security": [
          {
            "oauthSecurity": [
              "profiles"
            ]
          }
        ],
        "parameters": [
          {
            "name": "ITAD-Profile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Profile token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/profiles/sync/waitlist/v1": {
      "put": {
        "operationId": "profiles-sync-waitlist-v1-put",
        "tags": [
          "Sync"
        ],
        "summary": "Sync Waitlist",
        "description": "Sync Waitlist with IsThereAnyDeal. User can set category for your profile and default notification rules\nin their [settings](https://isthereanydeal.com/settings/profiles/), same as with natively supported profiles.\n",
        "security": [
          {
            "oauthSecurity": [
              "profiles"
            ]
          }
        ],
        "parameters": [
          {
            "name": "ITAD-Profile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Profile token"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Games to sync with IsThereAnyDeal",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/obj.waitlist.entry"
                }
              },
              "example": [
                {
                  "shop": 61,
                  "id": "my-waitlist-id-1",
                  "title": "Creatures of Ava: Deluxe Edition"
                },
                {
                  "shop": 4,
                  "id": "my-waitlist-id-3",
                  "title": ">observer_"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.sync.waitlist"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/resp.error.array-of-objects-validation"
          },
          "default": {
            "$ref": "#/components/responses/resp.error.array-of-objects-validation"
          }
        }
      }
    },
    "/profiles/sync/collection/v1": {
      "put": {
        "operationId": "profiles-sync-collection-v1-put",
        "tags": [
          "Sync"
        ],
        "summary": "Sync Collection",
        "description": "Sync Collection with IsThereAnyDeal. User can set category for your profile\nin their [settings](https://isthereanydeal.com/settings/profiles/), same as with natively supported profiles.\n\nGames are synced as redeemed copies. If there already is a redemeed copy with the same shop in user's Collection,\nnew copy will not be added.\n",
        "security": [
          {
            "oauthSecurity": [
              "profiles"
            ]
          }
        ],
        "parameters": [
          {
            "name": "ITAD-Profile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Profile token"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Games to sync with IsThereAnyDeal",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/obj.collection.entry"
                }
              },
              "example": [
                {
                  "shop": 61,
                  "id": "my-tracking-id-2",
                  "title": "Creatures of Ava: Deluxe Edition",
                  "playtime": 100,
                  "lastPlayed": "2024-08-26T22:04:08+01:00"
                },
                {
                  "shop": 4,
                  "id": "my-tracking-id-3",
                  "title": ">observer_"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.sync.collection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/resp.error.array-of-objects-validation"
          },
          "default": {
            "$ref": "#/components/responses/resp.error.array-of-objects-validation"
          }
        }
      }
    },
    "/service/shops/v1": {
      "get": {
        "operationId": "service-shops-v1",
        "tags": [
          "Shops"
        ],
        "summary": "Get Shops",
        "description": "Return information about shops",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/country"
          }
        ],
        "responses": {
          "200": {
            "description": "List of shops and their details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.service.shops"
                },
                "examples": {
                  "success": {
                    "summary": "Short shop list example",
                    "$ref": "#/components/examples/shops.v1.success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/internal/early-access/v1": {
      "get": {
        "operationId": "internal-earlyaccess-v1",
        "tags": [
          "Internal"
        ],
        "summary": "Early Access Games",
        "description": "Returns list of Steam appids, which are currently considered to be early in early access",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/internal/players/v1": {
      "get": {
        "operationId": "internal-players-v1",
        "tags": [
          "Internal"
        ],
        "summary": "Number of Players Statistics",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.internal.players"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/internal/hltb/v1": {
      "get": {
        "operationId": "internal-hltb-v1",
        "tags": [
          "Internal"
        ],
        "summary": "HowLongToBeat Overview",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.internal.hltb"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/internal/reviews/v1": {
      "get": {
        "operationId": "internal-reviews-v1",
        "tags": [
          "Internal"
        ],
        "summary": "Reviews Score",
        "description": "Returns Metacritic user reviews overview and OpenCritic overview for a given game",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.internal.reviews"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/internal/rates/v1": {
      "get": {
        "operationId": "internal-rates-v1",
        "tags": [
          "Internal"
        ],
        "summary": "Conversion Rates",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.internal.rates"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    },
    "/internal/twitch/stream/v1": {
      "get": {
        "operationId": "internal-twitchstream-v1",
        "tags": [
          "Internal"
        ],
        "summary": "Current stream of Twitch channel",
        "security": [
          {
            "keySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp.internal.twitchstream"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-response"
          },
          "default": {
            "$ref": "#/components/responses/error-response"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "keySecurity": {
        "type": "apiKey",
        "in": "query",
        "name": "key"
      },
      "oauthSecurity": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://isthereanydeal.com/oauth/authorize/",
            "tokenUrl": "https://isthereanydeal.com/oauth/token/",
            "refreshUrl": "https://isthereanydeal.com/oauth/token/",
            "scopes": {
              "user_info": "Get basic user's info",
              "notes_read": "Read user's game notes",
              "notes_write": "Write (add, edit, delete) user's game notes",
              "profiles": "Link or unlink profiles",
              "wait_read": "Read user's Waitlist",
              "wait_write": "Write (add, edit, delete) in user's Waitlist",
              "coll_read": "Read user's Collection",
              "coll_write": "Write (add, edit, delete) in user's Collection"
            }
          }
        }
      }
    },
    "parameters": {
      "country": {
        "name": "country",
        "in": "query",
        "description": "Two letter country code (ISO 3166-1 alpha-2)",
        "schema": {
          "type": "string",
          "minLength": 2,
          "maxLength": 2,
          "default": "US"
        }
      },
      "gid": {
        "name": "id",
        "in": "query",
        "required": true,
        "description": "Game ID",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "shops": {
        "name": "shops",
        "in": "query",
        "description": "List of shop IDs",
        "explode": false,
        "style": "form",
        "schema": {
          "type": "array",
          "items": {
            "type": "integer"
          },
          "example": [
            65,
            35
          ]
        }
      }
    },
    "requestBodies": {
      "gids": {
        "description": "List of Game IDs",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "minItems": 1,
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "example": [
              "01849783-6a26-7147-ab32-71804ca47e8e",
              "01849782-1017-7389-8de4-c97c587fd7e3"
            ]
          }
        }
      },
      "gids-200": {
        "description": "List of Game IDs",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 200,
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "example": [
              "01849783-6a26-7147-ab32-71804ca47e8e",
              "01849782-1017-7389-8de4-c97c587fd7e3"
            ]
          }
        }
      }
    },
    "responses": {
      "error-response": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "title": "Error Response",
              "type": "object",
              "required": [
                "status_code",
                "reason_phrase"
              ],
              "properties": {
                "status_code": {
                  "description": "HTTP status code",
                  "type": "number"
                },
                "reason_phrase": {
                  "description": "Error description",
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "resp.error.array-of-objects-validation": {
        "description": "Array Validation Error Response",
        "content": {
          "application/json": {
            "schema": {
              "title": "Array Validation Error Response",
              "type": "object",
              "required": [
                "status_code",
                "reason_phrase"
              ],
              "properties": {
                "status_code": {
                  "description": "HTTP status code",
                  "type": "number"
                },
                "reason_phrase": {
                  "description": "Error description",
                  "type": "string"
                },
                "details": {
                  "description": "When this endpoint fails during data validation, validation errors will be listed\nas array of two items.\n\nFirst item is the index of object in request data.\n\nSecond item is map of errors, with key being the property that failed to validate and value is the error itself.\n",
                  "type": "array",
                  "prefixItems": [
                    {
                      "type": "number",
                      "description": "Index of object"
                    },
                    {
                      "type": "object",
                      "description": "Validation errors",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "example": {
              "status_code": 400,
              "reason_phrase": "Bad Request",
              "details": [
                0,
                {
                  "propety": "Missing data for 'property'"
                }
              ]
            }
          }
        }
      },
      "resp.error.object-validation": {
        "description": "Data Validation Error Response",
        "content": {
          "application/json": {
            "schema": {
              "title": "Data Validation Error Response",
              "type": "object",
              "required": [
                "status_code",
                "reason_phrase"
              ],
              "properties": {
                "status_code": {
                  "description": "HTTP status code",
                  "type": "number"
                },
                "reason_phrase": {
                  "description": "Error description",
                  "type": "string"
                },
                "details": {
                  "description": "When this endpoint fails during data validation, validation errors will be provided as a map,\nwhere key is the property that failed to validate and value is the error itself.\n",
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            },
            "example": {
              "status_code": 400,
              "reason_phrase": "Bad Request",
              "details": {
                "propety": "Missing data for 'property'"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "resp.lookup.gid-by-title": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Game IDs Lookup by Title Response",
        "type": "object",
        "additionalProperties": {
          "x-additionalPropertiesName": "title",
          "oneOf": [
            {
              "type": "null"
            },
            {
              "type": "string",
              "format": "uuid"
            }
          ]
        }
      },
      "resp.lookup.gid-by-shopid": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Game IDs lookup by shop ID response",
        "type": "object",
        "additionalProperties": {
          "x-additionalPropertiesName": "shop ID",
          "oneOf": [
            {
              "type": "null"
            },
            {
              "type": "string",
              "format": "uuid"
            }
          ]
        }
      },
      "resp.lookup.shopid-by-gid": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Shop IDs Lookup Response",
        "type": "object",
        "patternProperties": {
          "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          }
        }
      },
      "obj.game-type": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Game Type",
        "oneOf": [
          {
            "type": "string",
            "enum": [
              "game",
              "dlc",
              "package"
            ]
          },
          {
            "type": "null"
          }
        ]
      },
      "obj.game": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Game",
        "type": "object",
        "required": [
          "id",
          "slug",
          "title",
          "type",
          "mature"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/obj.game-type"
          },
          "mature": {
            "type": "boolean"
          }
        }
      },
      "resp.games.search": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Game Search Response",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/obj.game"
        }
      },
      "resp.games.lookup": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Game Lookup Response",
        "type": "object",
        "required": [
          "found"
        ],
        "properties": {
          "found": {
            "type": "boolean"
          },
          "game": {
            "$ref": "#/components/schemas/obj.game"
          }
        }
      },
      "obj.asset-map": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Asset Map",
        "type": "object",
        "properties": {
          "banner145": {
            "type": "string"
          },
          "banner300": {
            "type": "string"
          },
          "banner400": {
            "type": "string"
          },
          "banner600": {
            "type": "string"
          },
          "boxart": {
            "type": "string"
          }
        }
      },
      "obj.company": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Company",
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "obj.reviews": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Reviews",
        "type": "object",
        "required": [
          "score",
          "source",
          "count",
          "url"
        ],
        "properties": {
          "score": {
            "type": [
              "number",
              "null"
            ]
          },
          "source": {
            "type": "string"
          },
          "count": {
            "type": [
              "number",
              "null"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "resp.games.info": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Game Info Response",
        "type": "object",
        "required": [
          "id",
          "slug",
          "title",
          "type",
          "mature",
          "assets",
          "earlyAccess",
          "achievements",
          "tradingCards",
          "appid",
          "tags",
          "releaseDate",
          "developers",
          "publishers",
          "reviews",
          "stats",
          "players",
          "urls"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/obj.game-type"
          },
          "mature": {
            "type": "boolean"
          },
          "assets": {
            "$ref": "#/components/schemas/obj.asset-map"
          },
          "earlyAccess": {
            "type": "boolean"
          },
          "achievements": {
            "type": "boolean"
          },
          "tradingCards": {
            "type": "boolean"
          },
          "appid": {
            "type": [
              "integer",
              "null"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "releaseDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "developers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/obj.company"
            }
          },
          "publishers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/obj.company"
            }
          },
          "reviews": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/obj.reviews"
            }
          },
          "stats": {
            "type": "object",
            "properties": {
              "rank": {
                "type": "integer",
                "minimum": 0
              },
              "waitlisted": {
                "type": "integer",
                "minimum": 0
              },
              "collected": {
                "type": "integer",
                "minimum": 0
              }
            }
          },
          "players": {
            "oneOf": [
              {
                "type": "object",
                "required": [
                  "recent",
                  "day",
                  "week",
                  "peak"
                ],
                "properties": {
                  "recent": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "day": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "week": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "peak": {
                    "type": "integer",
                    "minimum": 0
                  }
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "urls": {
            "type": "object",
            "required": [
              "game"
            ],
            "properties": {
              "game": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "obj.shop": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Shop",
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "obj.price": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Price",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number"
          },
          "amountInt": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "amountInt",
          "currency"
        ]
      },
      "obj.deal-flag": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Deal Flag",
        "oneOf": [
          {
            "type": "string",
            "enum": [
              "H",
              "N",
              "S"
            ],
            "description": "- **H**: Historical Low\n- **N**: New Historical Low\n- **S**: Store low"
          },
          {
            "type": "null"
          }
        ]
      },
      "obj.drm": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "DRM",
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "obj.drm-list": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "DRM List",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/obj.drm"
        }
      },
      "obj.platform": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Platform",
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "obj.platform-list": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Platform List",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/obj.platform"
        }
      },
      "obj.deal": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Deal",
        "type": "object",
        "required": [
          "shop",
          "price",
          "regular",
          "cut",
          "voucher",
          "storeLow",
          "historyLow",
          "flag",
          "drm",
          "platforms",
          "timestamp",
          "expiry",
          "url"
        ],
        "properties": {
          "shop": {
            "$ref": "#/components/schemas/obj.shop"
          },
          "price": {
            "$ref": "#/components/schemas/obj.price"
          },
          "regular": {
            "$ref": "#/components/schemas/obj.price"
          },
          "cut": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "voucher": {
            "type": [
              "string",
              "null"
            ]
          },
          "storeLow": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/obj.price"
              }
            ]
          },
          "historyLow": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/obj.price"
              }
            ]
          },
          "flag": {
            "$ref": "#/components/schemas/obj.deal-flag"
          },
          "drm": {
            "$ref": "#/components/schemas/obj.drm-list"
          },
          "platforms": {
            "$ref": "#/components/schemas/obj.platform-list"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "expiry": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "resp.games.prices": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Prices Response",
        "type": "array",
        "items": {
          "type": "object",
          "required": [
            "id",
            "deals"
          ],
          "properties": {
            "id": {
              "type": "string",
              "format": "uuid",
              "description": "Game ID"
            },
            "deals": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/obj.deal"
              }
            }
          }
        }
      },
      "obj.bundle": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Bundle",
        "type": "object",
        "required": [
          "id",
          "title",
          "page",
          "url",
          "isMature",
          "publish",
          "expiry",
          "counts",
          "tiers"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "page": {
            "type": "object",
            "required": [
              "id",
              "name"
            ],
            "properties": {
              "id": {
                "type": "number"
              },
              "name": {
                "type": "string"
              },
              "shopId": {
                "oneOf": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            }
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "details": {
            "type": "string",
            "format": "uri"
          },
          "isMature": {
            "type": "boolean"
          },
          "publish": {
            "type": "string",
            "format": "date-time"
          },
          "expiry": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "counts": {
            "type": "object",
            "required": [
              "games",
              "media"
            ],
            "properties": {
              "games": {
                "type": "integer",
                "minimum": 0
              },
              "media": {
                "type": "integer",
                "minimum": 0
              }
            }
          },
          "tiers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "price",
                "games"
              ],
              "properties": {
                "price": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/obj.price"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "games": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/obj.game"
                  }
                }
              }
            }
          }
        }
      },
      "resp.games.bundles": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Bundles with Game Response",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/obj.bundle"
        }
      },
      "obj.deal-overview": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Overview Deal",
        "description": "This object is basically the same as regular Deal, difference being storeLow and historyLow properties are not included",
        "type": "object",
        "required": [
          "shop",
          "price",
          "regular",
          "cut",
          "voucher",
          "flag",
          "drm",
          "platforms",
          "timestamp",
          "expiry",
          "url"
        ],
        "properties": {
          "shop": {
            "$ref": "#/components/schemas/obj.shop"
          },
          "price": {
            "$ref": "#/components/schemas/obj.price"
          },
          "regular": {
            "$ref": "#/components/schemas/obj.price"
          },
          "cut": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "voucher": {
            "type": [
              "string",
              "null"
            ]
          },
          "flag": {
            "$ref": "#/components/schemas/obj.deal-flag"
          },
          "drm": {
            "$ref": "#/components/schemas/obj.drm-list"
          },
          "platforms": {
            "$ref": "#/components/schemas/obj.platform-list"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "expiry": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "obj.historylow": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Historical Low",
        "type": "object",
        "required": [
          "shop",
          "price",
          "regular",
          "cut",
          "timestamp"
        ],
        "properties": {
          "shop": {
            "$ref": "#/components/schemas/obj.shop"
          },
          "price": {
            "$ref": "#/components/schemas/obj.price"
          },
          "regular": {
            "$ref": "#/components/schemas/obj.price"
          },
          "cut": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "resp.games.overview": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "Games Overview Response",
        "type": "object",
        "required": [
          "prices",
          "bundles"
        ],
        "properties": {
          "prices": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "current",
                "lowest",
                "bundled",
                "urls"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "current": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/obj.deal-overview"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "lowest": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/obj.historylow"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "bundled": {
                  "type": "integer",
                  "minimum": 0
                },
                "urls": {
                  "type": "object",
                  "required": [
                    "game"
                  ],
                  "properties": {
                    "game": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
[...]
